# Python Basics - Assignment 1

### Submitted by Emmanuel Raj (DSFS Batch 2)

#### Assignment Objective: 

1. I treat this assignment as test of  what I have learnt from iNeuron classes and in addition to what i learn from additional resources to reinforce my learning. 


 2. I also treat the assignment to demonstrate my undertanding on the concepts asked in the question and provide any additional concepts i have learnt so far. I may be wrong with my answers based on the limited knowledge i have gained so far. Please provide feedback on where and why my answers are incorrect. It will help me to get clear understanding

### 1. In the below elements which of them are values or an expression?

*        This is multiplication operator

'hello'  This is a string

-87.8    This is a float

-        This is subtraction operator

/        This is a division operator

+	     This is addition operator in a mathematical expression. 
         It also has usage  as a concatenation operator when used with strings.

6        Tthis is an integer

# 
###  2. What is the difference between string and variable?

#### 2.1 VARIABLE

Variable is a placeholder in memory that can hold a data-value. 
This value can be of many types.

Unlike other programming language, in Python variables need not be declared explicitly before using it. 
Python declares the variable the first time it encounters the variable. 
And almost everytime the variable declaration has the "=" assignment operator

In [220]:
#Examples of varibales of different datatypes

a=64
b=25.6
c=1+28j
s= "I am learning Python from iNeuron"
l=[] #emplty list
l1 = ["Tesla", "Airplane", "Alexa", "C++", "tesla", 100, 3.14, [1,2,3]] # Hetrogenous list of values and can have duplicates

In [221]:
print(a,",",b,",",c, ",",l, ",",l1)

64 , 25.6 , (1+28j) , [] , ['Tesla', 'Airplane', 'Alexa', 'C++', 'tesla', 100, 3.14, [1, 2, 3]]

#### 2.1 STRING

String is a type of data (datatype) consisting of a sequence of characters.
Even a single character is considered as a string
In python there is no char (character) datatype like in other programming languages

In python we can specify string within "" (double quotes) or '' (single quotes)

In [222]:
# Example of string
s1 = "this is a string"
s2 = 'this is also a string'

# Example of single character string
s3 = "x"

In [223]:
print(s1,",",s3,",",s2)

this is a string , x , this is also a string

So far I have understood that each datatype is an object in python. and each object type will have its own functions.

# 
### 3. Describe three different data types

#### 3.1. Numeric Datatype such as integer, float and complex numbe

(i). Integers

This datatype is used to store whole numbers without decimal values
And integers includes both +ve and -ve numbers and including 0 (zero)

In [224]:
#Examples of integer

a= -100
b= 0
C= 25

In [225]:
print(type(a))

<class 'int'>

In [226]:
print(type(a))

<class 'int'>

In [227]:
print(type(a))

<class 'int'>

(ii). Float

Float is a data type that can store decimal values and they too can have both +ve and -ve values
In other programming languages float may be refered to as real

In [228]:
#Examples of float

p=4.4
q=-3.2
r=0.0

In [229]:
print(type(p))

<class 'float'>

In [230]:
print(type(q))

<class 'float'>

In [231]:
print(type(r))

<class 'float'>

(iii). Complex numbers

Complex data type is one has imaginary number component
It is written in the form of A+Bi
where A and B are integer or float
it can also have only imaginary number part

NOte: Imaginary number is  sq.root of -1 and written as i as per mathematical principles
In Python the imaginary is wrriten as j

In [232]:
#Examples of complex data-type

J= 8+2j

print(type(J))

<class 'complex'>

In [233]:
#Examples of complex data-type with only imaginary part

J= -6j

print(type(J))

<class 'complex'>

#### 3.2 Strings

For basic details of string datatype refer to answer under Q2.

In addition to basic details about the string datatyoe please find some more details of strings in Python

In [234]:
# the individual characters of a string can be accessed using index starting from 0

s = "this is an example of a string "

# Length of string
len(s)

31

In [235]:
# display specific portion of string
s[11:18]

'example'

In [236]:
# the jump represents the number of charcters to jump and the direction. By default its is 1
# Now this can be changed as
s[17:10:-1]

'elpmaxe'

In [237]:
# Note the 2nd parameter displays charcater at 1 index less than specfied.
# In this example s[11:18] for my understanding I read it as "from 11th upto 18 but not including "

# to reverse a string we may use the syntax
s[::-1]

' gnirts a fo elpmaxe na si siht'

In [238]:
# To remove the trailing whitespace we can use the strip() function
s.strip()

'this is an example of a string'

In [239]:
# and to make the first letter capitalized we may use the title() function

In [240]:
s.capitalize()

'This is an example of a string '

In [241]:
# There are many such string manipulation functions.

#### 3.3 Datatype with a range / collections of values

Unlike the above mentioned datatypes, there are few datatypes in python that can store more the 1 data value.
namely lits and tuple

i) Lists

list is a collection of data that are seperated by commas and is enclosed by suqare brackets

In [242]:
#Example
l1 =[]
l2 = ['Apple','Orange','Grape','Car','bike','van', 32, 64, 64+64, 256]
print(l2)
type(l1)

['Apple', 'Orange', 'Grape', 'Car', 'bike', 'van', 32, 64, 128, 256]

list

Like how we saw in string manipulation each data item can be accessed using index

In [243]:
print(l2[1])
print(l2[0:4])

Orange
['Apple', 'Orange', 'Grape', 'Car']

In addition to accessing the data values in specific index location, the items can be modified
Hence lists are called mutable.

Note: This is contrary to what we can do with strings. Hence strings are called immutable

In [244]:
print(l2[3])
l2[3] = "Ship"
print(l2[3])

Car
Ship

Interestingly each of the item in the list can further be manuipulated based on its datatype

In [245]:
# Example of string reversing of an item in list
l2[0][::-1]

'elppA'

In [246]:
# Example of numeric operation of an item in list
l2[-2]-64

64

ii) Tuple

Tuple is also a collectoion of items like list and are usually enclosed in paranthesis
One of a key difference is that tuple is immutable or static in nature
Hence they occupy less memory and faster to access

In [247]:
#Example of tuple declaration
t1 = ('iNeuron', 'student', 'batch', 160)
type(t1)

tuple

In [248]:
print(t1)

('iNeuron', 'student', 'batch', 160)

In [250]:
# Another way of declaring a tuple without paranthesis

t2 = 1,2,3,4,5,6

print(type(t2))

<class 'tuple'>

In [251]:
# tuple declaration without paranthesis looks very similar in syntax to multilple variable assignment, 
# But it should be noted the number of varibale and values should match
# For example (normal mutiple variabledeclaration and not tuple declaration)

t4, t5, t6 = 1,2,3

print(type(t4))

<class 'int'>

In [252]:
t7 = (1)
print(type(t7))

t3 = 'terminator'
print(type(t6))

<class 'int'>
<class 'int'>

Hence creating tuple with single item is not possible (or atleast not known to me yet)

# 
### 4. What is an expression made up of?  What do all expressions do?

Expressions consits of variables, operators that python can evaluate into values or plain values or a combination of all of these.

It can also be a funcion call or a combination of all

In [253]:
#Examples

pi = 22/7
# this is an arithmetic operation to deduce the value of pi

pi

3.142857142857143

In [254]:
#Examples

radius = 5
circumference = 2 * pi * radius
# this is a expression to calculate a mathematical value

circumference

31.428571428571427

In [255]:
#Examples

len("perimeter")
# this is to evaluate the lenght of the string

9

As seen in the above examples, expressions are the right hand part that are evaluated by python interpreter that gives a final value.

# 
### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Simillar to any language spoken between humans, python is also language (aka programming language) made up of statements that can be understood by "Python interpreter".

In other words statements are any code that python can understand and execute

All of the keywords in python in combination with expressions make up a statement

In the given example spam = 10, that consists of a variable, an operator and a value make up a meaningful statement that assigns a the value 10 to the variable spam. Hence the name assignment statement

where
varable is spam
operator is = (equal to)
value is 10

In [256]:
#In the above example the value can be replaced by an expression that will be evaluated by python

spam = (100/20)*2
print(spam)

10.0

In the modified example the right hand side is an expression and the whole line is a statement
i.e.
(100/20)*2  is an expression
spam = (100/20)*2 is a statmemt

# 
### 6.  After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

After running the code the value of bacon is still 22. The reson the second line is an expresson that python only evaluates. 
It does not modify the existing value of bacon.

In [257]:
# let's test this

bacon = 22
bacon + 1

23

In [258]:
print(bacon)

22

# 
### 7.  What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

the value of both of these will be 'spamspamspam'

the first one concatenates 'spam' and 'spamspam'
the second one concatenates 'spam' three times

In [259]:
# let's test this

'spam' + 'spamspam'

'spamspamspam'

In [260]:
'spam' * 3

'spamspamspam'

# 
### 8.  Why is eggs a valid variable name while 100 is invalid

By defenition a varibale name in python can be...
1. any length 
2. and can consist of uppercase and lowercase letters (A-Z, a-z) 
3. and can contain the underscore character (_)
4. and can contain digits (0-9)
5. with the exception that it cannot begin with a digit

Hence by this rule 
100 is an invalid varibale name
Wheras eggs is a valid variable name

# 
### 9.  What three functions can be used to get the integer, floating-point number, or string version of a value?

The following 3 functions are called type cast functions which helps to convert a number to string and vice versa (provided the string is in form of a number)

int()
float()
str()

In [261]:
# for example - string to integer conversion

a="123456"
print(a, " is ",type(a))
a=int(a)
print(a, " is ",type(a))

123456  is  <class 'str'>
123456  is  <class 'int'>

In [262]:
# for example - string to float conversion

b="99.99"
print(b, " is ",type(b))
b=float(b)
print(b, " is ",type(b))

99.99  is  <class 'str'>
99.99  is  <class 'float'>

In [263]:
# for example - Integer to string conversion

d=2000
print(d, " is ",type(d))
d=str(d)
print(d, " is ",type(d))

2000  is  <class 'int'>
2000  is  <class 'str'>

In [264]:
# for example - Float to string conversion

e=3.143
print(e, " is ",type(e))
e=str(e)
print(e, " is ",type(e))

3.143  is  <class 'float'>
3.143  is  <class 'str'>

# 
### 10.  Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

In the given expression, 99 is an integer  while the other 2 operands are strings. 
we cannot add string to integer  (or) concatenate an integer to string

In [271]:
# lets execute this code as-is with error

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [272]:
# now lets fix this by using typecasting function and execute

In [274]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

###                             *** THANK YOU !!!  ***