# Python Basics - Assignment #1 
Part 2 - (Questions 4 - .....)

### Submitted by Emmanuel Raj (DSFS Batch 160)

### 4. What is an expression made up of?  What do all expressions do?

Expressions consits of variables, operators that python can evaluate into values or plain values or a combination of all of these.

It can also be a funcion call or a combination of all

In [54]:
#Examples

pi = 22/7
# this is an arithmetic operation to deduce the value of pi

pi

3.142857142857143

In [55]:
#Examples

radius = 5
circumference = 2 * pi * radius
# this is a expression to calculate a mathematical value

circumference

31.428571428571427

In [56]:
#Examples

len("perimeter")
# this is to evaluate the lenght of the string

9

As seen in the above examples, expressions are the right hand part that are evaluated by python interpreter that gives a final value.

# 
### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Simillar to any language spoken between humans, python is also language (aka programming language) made up of statements that can be understood by "Python interpreter".

In other words statements are any code that python can understand and execute

All of the keywords in python in combination with expressions make up a statement

In the given example spam = 10, that consists of a variable, an operator and a value make up a meaningful statement that assigns a the value 10 to the variable spam. Hence the name assignment statement

where
varable is spam
operator is = (equal to)
value is 10

In [57]:
#In the above example the value can be replaced by an expression that will be evaluated by python

spam = (100/20)*2
print(spam)

10.0

In the modified example the right hand side is an expression and the whole line is a statement
i.e.
(100/20)*2  is an expression
spam = (100/20)*2 is a statmemt

# 
### 6.  After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

After running the code the value of bacon is still 22. The reson the second line is an expresson that python only evaluates. 
It does not modify the existing value of bacon.

In [58]:
# let's test this

bacon = 22
bacon + 1

23

In [59]:
print(bacon)

22

# 
### 7.  What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

the value of both of these will be 'spamspamspam'

the first one concatenates 'spam' and 'spamspam'
the second one concatenates 'spam' three times

In [60]:
# let's test this

'spam' + 'spamspam'

'spamspamspam'

In [61]:
'spam' * 3

'spamspamspam'

# 
### 8.  Why is eggs a valid variable name while 100 is invalid

By defenition a varibale name in python can be...
1. any length 
2. and can consist of uppercase and lowercase letters (A-Z, a-z) 
3. and can contain the underscore character (_)
4. and can contain digits (0-9)
5. with the exception that it cannot begin with a digit

Hence by this rule 
100 is an invalid varibale name
Wheras eggs is a valid variable name

# 
### 9.  What three functions can be used to get the integer, floating-point number, or string version of a value?

The following 3 functions are called type cast functions which helps to convert a number to string and vice versa (provided the string is in form of a number)

int()
float()
str()

In [62]:
# for example - string to integer conversion

a="123456"
print(a, " is ",type(a))
a=int(a)
print(a, " is ",type(a))

123456  is  <class 'str'>
123456  is  <class 'int'>

In [63]:
# for example - string to float conversion

b="99.99"
print(b, " is ",type(b))
b=float(b)
print(b, " is ",type(b))

99.99  is  <class 'str'>
99.99  is  <class 'float'>

In [64]:
# for example - Integer to string conversion

d=2000
print(d, " is ",type(d))
d=str(d)
print(d, " is ",type(d))

2000  is  <class 'int'>
2000  is  <class 'str'>

In [65]:
# for example - Float to string conversion

e=3.143
print(e, " is ",type(e))
e=str(e)
print(e, " is ",type(e))

3.143  is  <class 'float'>
3.143  is  <class 'str'>

# 
### 10.  Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

In the given expression, 99 is an integer  while the other 2 operands are strings. 
we cannot add string to integer  (or) concatenate an integer to string

In [66]:
# lets execute this code as is with error

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [67]:
# now lets fix this by using typecasting function and execute

In [68]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'